.paperStyle
{
padding: '30px 35px';
height: '595px';
width: '500px';
margin: '0 auto';
};
.nameStyle
{ 
margin: '40px 10px';
width: '300px' 
};
.passStyle
{ 
margin: '0 10px';
width: '300px'
};
.buttonStyle
{
margin: '50px auto' 
};
