.paperStyle
{ 
padding: '40px 35px'; 
width: '500px';
margin: "auto auto";
box-shadow:"1px"
}
.headerStyle
{
margin: 0
}
.namestyles
{
margin: '40px 35px';
width: '400px'
}
.emailstyles
{
    width:'400px';
    margin: '-27px 35px'
}
.phonestyles
{
    width:'400px';
    margin: '35px 35px'
}
.pswdstyles
{
    width:'400px';
    margin:'-27px 35px'
}
.pswdstyle
{
    width:'400px';
    margin:'35px 55px'
}
